@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: #f1f5f9;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
}
